In [ ]:
import os
os.chdir("./data")
import pathlib
import spike_validation
import pandas as pd
import numpy as np

Set data for spike file input.

Configured.

In [4]:
t1 = [1,2,3]
t2 = False
os.getcwd()

'/data'

In [5]:
if t1:
    print("ok true check")

ok true check

In [6]:
import pandas as pd
_names_ = ["timestamp","core","local","destGID","destCore","destNeuron","isOutput?"]

In [7]:
d1 = pd.DataFrame(columns=_names_)
c2 = [3.03,822,41,421727,52,107,0]
d2 = pd.DataFrame(data=[3.03,822,41,421727,52,107,0],columns=_names_)

ValueError: Shape of passed values is (1, 7), indices imply (7, 7)

In [8]:
import numpy as np
dts = [(x, np.int64) for x in _names_[1:]]
dts = [("timestamp", np.float128)] + dts
dtp = np.dtype(dts)

In [9]:
dtp

dtype([('timestamp', '<f16'), ('core', '<i8'), ('local', '<i8'), ('destGID', '<i8'), ('destCore', '<i8'), ('destNeuron', '<i8'), ('isOutput?', '<i8')])

In [10]:
import numpy as np

In [11]:
np_dat = np.array(c2,dtype=dtp)

In [12]:
np_dat

array([(3.03000e+00,      3,      3,      3,      3,      3,      3),
       (8.22000e+02,    822,    822,    822,    822,    822,    822),
       (4.10000e+01,     41,     41,     41,     41,     41,     41),
       (4.21727e+05, 421727, 421727, 421727, 421727, 421727, 421727),
       (5.20000e+01,     52,     52,     52,     52,     52,     52),
       (1.07000e+02,    107,    107,    107,    107,    107,    107),
       (0.00000e+00,      0,      0,      0,      0,      0,      0)],
      dtype=[('timestamp', '<f16'), ('core', '<i8'), ('local', '<i8'), ('destGID', '<i8'), ('destCore', '<i8'), ('destNeuron', '<i8'), ('isOutput?', '<i8')])

In [13]:
c2

[3.03, 822, 41, 421727, 52, 107, 0]

In [14]:
np.array([c2],dtp)

array([[(3.03000e+00,      3,      3,      3,      3,      3,      3),
        (8.22000e+02,    822,    822,    822,    822,    822,    822),
        (4.10000e+01,     41,     41,     41,     41,     41,     41),
        (4.21727e+05, 421727, 421727, 421727, 421727, 421727, 421727),
        (5.20000e+01,     52,     52,     52,     52,     52,     52),
        (1.07000e+02,    107,    107,    107,    107,    107,    107),
        (0.00000e+00,      0,      0,      0,      0,      0,      0)]],
      dtype=[('timestamp', '<f16'), ('core', '<i8'), ('local', '<i8'), ('destGID', '<i8'), ('destCore', '<i8'), ('destNeuron', '<i8'), ('isOutput?', '<i8')])

In [17]:
np.array(c2)

array([3.03000e+00, 8.22000e+02, 4.10000e+01, 4.21727e+05, 5.20000e+01,
       1.07000e+02, 0.00000e+00])

In [19]:
c3 = c2 + c2
c3

[3.03, 822, 41, 421727, 52, 107, 0, 3.03, 822, 41, 421727, 52, 107, 0]

In [20]:
np.array([c2],dtp)

array([[(3.03000e+00,      3,      3,      3,      3,      3,      3),
        (8.22000e+02,    822,    822,    822,    822,    822,    822),
        (4.10000e+01,     41,     41,     41,     41,     41,     41),
        (4.21727e+05, 421727, 421727, 421727, 421727, 421727, 421727),
        (5.20000e+01,     52,     52,     52,     52,     52,     52),
        (1.07000e+02,    107,    107,    107,    107,    107,    107),
        (0.00000e+00,      0,      0,      0,      0,      0,      0)]],
      dtype=[('timestamp', '<f16'), ('core', '<i8'), ('local', '<i8'), ('destGID', '<i8'), ('destCore', '<i8'), ('destNeuron', '<i8'), ('isOutput?', '<i8')])

In [26]:
np_dat = np.genfromtxt("test_data/test_fire_0.csv",dtype=dtp,comments="timestamp",delimiter=',')
df1 = pd.read_csv("test_data/fire_record_rank_0.csv",sep=',',names=_names_,comment="t")
df2 = pd.read_csv("test_data/test_fire_0.csv",sep=',',names=_names_,comment="t")

In [27]:
df3 = df1
df3.append(df2)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>core</th>
      <th>local</th>
      <th>destGID</th>
      <th>destCore</th>
      <th>destNeuron</th>
      <th>isOutput?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3.031378</td>
      <td>822</td>
      <td>41</td>
      <td>421727</td>
      <td>52</td>
      <td>107</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3.031378</td>
      <td>826</td>
      <td>43</td>
      <td>423781</td>
      <td>87</td>
      <td>111</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.031378</td>
      <td>831</td>
      <td>42</td>
      <td>426345</td>
      <td>140</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3.031378</td>
      <td>819</td>
      <td>42</td>
      <td>420189</td>
      <td>32</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3.031378</td>
      <td>825</td>
      <td>44</td>
      <td>423269</td>
      <td>71</td>
      <td>114</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3.031378</td>
      <td>818</td>
      <td>42</td>
      <td>419676</td>
      <td>30</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3.031378</td>
      <td>821</td>
      <td>44</td>
      <td>421217</td>
      <td>35</td>
      <td>114</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3.031378</td>
      <td>807</td>
      <td>43</td>
      <td>414034</td>
      <td>163</td>
      <td>79</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3.031378</td>
      <td>829</td>
      <td>45</td>
      <td>425322</td>
      <td>107</td>
      <td>115</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3.031378</td>
      <td>824</td>
      <td>41</td>
      <td>422753</td>
      <td>70</td>
      <td>107</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3.031378</td>
      <td>823</td>
      <td>45</td>
      <td>422244</td>
      <td>53</td>
      <td>115</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>3.031378</td>
      <td>830</td>
      <td>43</td>
      <td>425833</td>
      <td>123</td>
      <td>111</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3.031378</td>
      <td>804</td>
      <td>44</td>
      <td>412496</td>
      <td>129</td>
      <td>82</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3.031378</td>
      <td>820</td>
      <td>44</td>
      <td>420704</td>
      <td>18</td>
      <td>122</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>3.031378</td>
      <td>816</td>
      <td>45</td>
      <td>418653</td>
      <td>237</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>3.031378</td>
      <td>803</td>
      <td>45</td>
      <td>411984</td>
      <td>127</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>3.031378</td>
      <td>808</td>
      <td>42</td>
      <td>414546</td>
      <td>180</td>
      <td>70</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>3.031378</td>
      <td>831</td>
      <td>43</td>
      <td>426346</td>
      <td>140</td>
      <td>103</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>3.031375</td>
      <td>786</td>
      <td>41</td>
      <td>403259</td>
      <td>493</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>3.031375</td>
      <td>789</td>
      <td>45</td>
      <td>404802</td>
      <td>1</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3.031375</td>
      <td>775</td>
      <td>44</td>
      <td>397619</td>
      <td>370</td>
      <td>26</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>3.031375</td>
      <td>794</td>
      <td>43</td>
      <td>407365</td>
      <td>53</td>
      <td>79</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3.031375</td>
      <td>795</td>
      <td>45</td>
      <td>407880</td>
      <td>55</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>3.031375</td>
      <td>790</td>
      <td>44</td>
      <td>405314</td>
      <td>2</td>
      <td>90</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3.031375</td>
      <td>792</td>
      <td>45</td>
      <td>406341</td>
      <td>20</td>
      <td>91</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3.031375</td>
      <td>793</td>
      <td>43</td>
      <td>406852</td>
      <td>52</td>
      <td>71</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>3.031375</td>
      <td>791</td>
      <td>42</td>
      <td>405825</td>
      <td>34</td>
      <td>70</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>3.031378</td>
      <td>757</td>
      <td>44</td>
      <td>388385</td>
      <td>206</td>
      <td>154</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>3.031378</td>
      <td>749</td>
      <td>43</td>
      <td>384280</td>
      <td>149</td>
      <td>143</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3.031378</td>
      <td>752</td>
      <td>44</td>
      <td>385820</td>
      <td>169</td>
      <td>146</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>3.031378</td>
      <td>753</td>
      <td>44</td>
      <td>386333</td>
      <td>170</td>
      <td>154</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>3.031378</td>
      <td>745</td>
      <td>43</td>
      <td>382228</td>
      <td>113</td>
      <td>143</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>3.031378</td>
      <td>751</td>
      <td>43</td>
      <td>385306</td>
      <td>167</td>
      <td>143</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
df3.append(df2,ignore_index=True)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>timestamp</th>
      <th>core</th>
      <th>local</th>
      <th>destGID</th>
      <th>destCore</th>
      <th>destNeuron</th>
      <th>isOutput?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3.031378</td>
      <td>822</td>
      <td>41</td>
      <td>421727</td>
      <td>52</td>
      <td>107</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3.031378</td>
      <td>826</td>
      <td>43</td>
      <td>423781</td>
      <td>87</td>
      <td>111</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3.031378</td>
      <td>831</td>
      <td>42</td>
      <td>426345</td>
      <td>140</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3.031378</td>
      <td>819</td>
      <td>42</td>
      <td>420189</td>
      <td>32</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3.031378</td>
      <td>825</td>
      <td>44</td>
      <td>423269</td>
      <td>71</td>
      <td>114</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>3.031378</td>
      <td>818</td>
      <td>42</td>
      <td>419676</td>
      <td>30</td>
      <td>102</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3.031378</td>
      <td>821</td>
      <td>44</td>
      <td>421217</td>
      <td>35</td>
      <td>114</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3.031378</td>
      <td>807</td>
      <td>43</td>
      <td>414034</td>
      <td>163</td>
      <td>79</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3.031378</td>
      <td>829</td>
      <td>45</td>
      <td>425322</td>
      <td>107</td>
      <td>115</td>
      <td>0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>3.031378</td>
      <td>824</td>
      <td>41</td>
      <td>422753</td>
      <td>70</td>
      <td>107</td>
      <td>0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>3.031378</td>
      <td>823</td>
      <td>45</td>
      <td>422244</td>
      <td>53</td>
      <td>115</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>3.031378</td>
      <td>830</td>
      <td>43</td>
      <td>425833</td>
      <td>123</td>
      <td>111</td>
      <td>0</td>
    </tr>
    <tr>
      <th>12</th>
      <td>3.031378</td>
      <td>804</td>
      <td>44</td>
      <td>412496</td>
      <td>129</td>
      <td>82</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>3.031378</td>
      <td>820</td>
      <td>44</td>
      <td>420704</td>
      <td>18</td>
      <td>122</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>3.031378</td>
      <td>816</td>
      <td>45</td>
      <td>418653</td>
      <td>237</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>3.031378</td>
      <td>803</td>
      <td>45</td>
      <td>411984</td>
      <td>127</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>3.031378</td>
      <td>808</td>
      <td>42</td>
      <td>414546</td>
      <td>180</td>
      <td>70</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>3.031378</td>
      <td>831</td>
      <td>43</td>
      <td>426346</td>
      <td>140</td>
      <td>103</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>3.031375</td>
      <td>786</td>
      <td>41</td>
      <td>403259</td>
      <td>493</td>
      <td>3</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>3.031375</td>
      <td>789</td>
      <td>45</td>
      <td>404802</td>
      <td>1</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3.031375</td>
      <td>775</td>
      <td>44</td>
      <td>397619</td>
      <td>370</td>
      <td>26</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>3.031375</td>
      <td>794</td>
      <td>43</td>
      <td>407365</td>
      <td>53</td>
      <td>79</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3.031375</td>
      <td>795</td>
      <td>45</td>
      <td>407880</td>
      <td>55</td>
      <td>83</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>3.031375</td>
      <td>790</td>
      <td>44</td>
      <td>405314</td>
      <td>2</td>
      <td>90</td>
      <td>0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3.031375</td>
      <td>792</td>
      <td>45</td>
      <td>406341</td>
      <td>20</td>
      <td>91</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3.031375</td>
      <td>793</td>
      <td>43</td>
      <td>406852</td>
      <td>52</td>
      <td>71</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>3.031375</td>
      <td>791</td>
      <td>42</td>
      <td>405825</td>
      <td>34</td>
      <td>70</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>3.031378</td>
      <td>757</td>
      <td>44</td>
      <td>388385</td>
      <td>206</td>
      <td>154</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>3.031378</td>
      <td>749</td>
      <td>43</td>
      <td>384280</td>
      <td>149</td>
      <td>143</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3.031378</td>
      <td>752</td>
      <td>44</td>
      <td>385820</td>
      <td>169</td>
      <td>146</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>3.031378</td>
      <td>753</td>
      <td>44</td>
      <td>386333</td>
      <td>170</td>
      <td>154</td>
      <td>0</td>
    </tr>
    <tr>
      <th>31</th>
      <td>3.031378</td>
      <td>745</td>
      <td>43</td>
      <td>382228</td>
      <td>113</td>
      <td>143</td>
      <td>0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>3.031378</td>
      <td>751</td>
      <td>43</td>
      <td>385306</td>
      <td>167</td>
      <td>143</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
len(df3)

0

In [41]:
rr = pd.concat([df1,df2])
len(rr)

33

In [34]:
for g in p.glob("./data/*"):
    print(g)

data/Untitled2.ipynb
data/cocoapi
data/Untitled.ipynb
data/256_ObjectCategories
data/cifar100
data/keras-inceptionV4-master
data/Untitled3.ipynb
data/test_keras.ipynb
data/dota
data/bindsnet_experiments
data/exoplanet
data/Keras ML.ipynb
data/__MACOSX
data/Whetstone
data/inception-v4_weights_tf_dim_ordering_tf_kernels_notop.h5
data/master.zip
data/Untitled1.ipynb
data/dogs
data/models
data/validation_utils
data/snn_toolbox
data/keras-pretrain-test.ipynb
data/test_data
data/im
data/imagenet
data/convert_weights
data/benchmarks
data/Keras_ML2.ipynb
data/pre-model.ipynb
data/Untitled4.ipynb
data/inception-v4_weights_tf_dim_ordering_tf_kernels.h5
data/cifar10
data/mnist
data/keras_data.ipynb
data/spike_valid
data/.ipynb_checkpoints
data/spike_check_nb.ipynb
data/snn_toolbox_test.ipynb
data/spike_validation